.home{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    .homeContent{
         position: absolute;
         height: 100%;
         width: 100%;
         top: 0%;
         overflow: hidden;
         color: white;
        
         .sideElement{
            height: 95%;
        
            .desktopIcons{
                height: 100%;
                width: 100%;
                padding-inline: 0.75rem;
               display: grid;
               grid-template-rows: repeat(5,1fr);
               grid-auto-flow: column;
            
            
            }
         }

        .bottomElement{
            position: absolute;
           bottom: 0%;
           height: 3rem;
           width: 100%;
           background-color: rgba(13, 27, 45, 0.823);
           display: flex;
           align-items: center;
           justify-content: center;
           border-top: 1px solid rgb(66, 66, 66);
          
            
           .middleElement{
            height: 100%;
            
              display: flex;
           justify-content: center;
           align-items: center;
           overflow: hidden;
           gap: 1rem;
            
           .element{
            height: 70%;
            width: 2.1rem;
            // background: #000;

            img{
                height: 80%;
                width: 80%;
            }

           }

           .bottomSearch{
            background: rgba(255, 255, 255, 0.208);
            height: 70%;
            width: 12rem;
            border-top: 1px solid rgb(201, 201, 201);
            border-radius: 5rem;
            padding-inline: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .searchIcon{
                height: 70%;
                width: 2rem;
                font-weight: 700;
            }
            input{
                width: 80%;
                height: 90%;
                font-size: 1rem;
                outline: none;
                background: transparent;
                border: none;
                color: rgb(255, 255, 255);
               
                font-size: 0.8rem;
            }
            input::placeholder{
                color: rgb(206, 206, 206);
                 font-weight: 400;
            }
           }
           
           }

           .rightElement{
            height: 100%;
            position:absolute;
            top: 0%;
            right: 1rem;
            display: flex;
            gap: 0.75rem;
            align-items: center;
            font-size: 0.75rem;
                font-weight: 500;

            .bottomRightIcons{
                gap: 0.1rem;
                width: 5rem;
                height: 100%;
                // background: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                .bottomRightIcon{
                   width: 100%;
                   height: 80%;
                   
               .btmIcon{
                height:90%;
                width: 95%;
               }
            }
            }
           
           }
        }
    }
}