.login{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    img{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        
        
    }
    .loginElement{
        height: 100%;
        width: 100%;
        position: absolute;
        top:0%;
        background-color: rgba(255, 255, 255, 0.225);
        backdrop-filter: blur(7px);

        .loginCoverPage{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        align-items: center;
        gap: 5rem;
        justify-content: center;
            

            .loginProfileIcon{
                height: 5rem;
                width: 5rem;
                font-size: 8rem;
                padding-bottom: 1rem;
                margin-right: 5rem;

                .profileIcon{
                    color: white;
                }
            }

            form{
                display: flex;
                flex-direction: column;

                input{
                    height: 2rem;
                    width: 18rem;
                    outline: none;
                    background: transparent;
                    border: none;
                    font-size: 2rem;
                    color: black;
                    margin-top: 1rem;
                    padding-block: 0.75rem;
                    padding-inline: 0.75rem;

                  
                    
                }
                  input::placeholder{
                        color: white;
                    }
                .loginPassword{
                    border: 2px solid rgb(221, 221, 221);
                    border-bottom: 2px solid rgb(40, 105, 166);
                    background-color: rgba(40, 40, 40, 0.633);
                    font-size:0.7rem ;
                    border-radius: 0.2rem;
                }
                .forgotPassword{
                    text-align: center;
                    margin-top: 1rem;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 1rem;
                }
                .forgotPassword:hover{
                    text-decoration: underline;
                    color: rgb(42, 7, 201);
                }
            }
        }
    }
}