.lock{
    height: 100%;
    width: 100%;
     object-fit: cover;
     position: relative;
     overflow: hidden;
    
    img{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
    .lockIcons {
    position: absolute;  
    top: 3rem;          
    left: 10rem;          
    right: 10rem;         
    display: flex;
    justify-content: space-between; 
    // width: calc(100% - 40px);      

    .lockIconLeft, .lockIconRight {
      padding-block: 0.5rem;
      padding-inline: 0.5rem;
      border-radius: 0.3rem;   
      color: white;       
      cursor: pointer;
      background: #000;


      .icon{
        height: 1.5rem;
        width: 1.5rem;
      }
    }
}
  
    .lockTime{
        position: absolute;
        top: 35%;
        right: 40%;
        left: 40%;
        font-size: 1.5rem;
    }
}
