.rightMenu{
    position: absolute;
    height: 17rem;
    width: 14rem;
    background: #0a499be4;
    padding-block: 0.6rem;
    padding-inline: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    border: 1px solid gray;

    .menu{
        width: 100%;
        height: 2rem;
        display: flex;
        align-items: center;
        gap: 0.7rem;
        padding-block: 0.5rem;
        cursor: pointer;
        position: relative;

        .icon{
            height: 1.2rem;
            width: 1.2rem;
        }
        p{
            margin-bottom: 0.2rem;
        }
        .rightIcon{
            position: absolute;
            right: 0%;
        }
    }
    .menu:hover{
         background-color: rgba(66, 105, 142, 0.803);
         border-radius: 0.5rem;
    }
    .line{
        height: 0.3px;
        width: 100%;
        // border: 0.1px solid rgb(165, 165, 165);
        margin-block: 0.3rem;
        background-color: rgb(151, 151, 151);
        
    }
}